.cpcache
target
/.nrepl-port
/.calva/
/.clj-kondo/
/.lsp/
/changeme.lck
/changeme.log
/changeme.properties
/changeme.script
/.direnv/

/db
/out
/resources/config.edn
/resources/public/out/
application.log

