{:app-name "minweb"
 :title "Min's Web Application"
 :dtlv-opts "db/dtlv.db"
 :page-size 20
 :init-email "admin@example.com"
 :init-name "Admin"
 :init-role :admin
 :init-pwd "change-me-after-first-login"
 :company "Min's Web"
 :rate-limit-max-attempts 5
 :rate-limit-lockout-minutes 15}
